:root {
    font-family: 'Inter', sans-serif;
}
.container-custom {
  width: 1280px;
}
a {
    text-decoration: none;
}


.header {
    .container-custom{
        .header-top{
            background-color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            width: 100%;
            .logo-brand{
                h1 {
                color:#fff;
                font-weight: 300;

                }
            }
            .header-login{
                margin-right:45px;
                #login {

                }
                #register {

                }
            }
        }
        .header-bottom{
            height: 50px;
            width: 100%;
        }
    }
}


.carosel-product {
    height: 500px;
  background-image: url("../assets/img/image\ 6.png");
  background-repeat: no-repeat;
  background-position: bottom;
  .carosel-inner {
    height: 500px;
    // background-color: black;
    z-index: 2;
    .carosel-item.active {
      .carosel-content {
        img {
          width: 821px;
          height: 392px;
          object-fit: cover;
        }
      }
    }
  }
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }
  .carousel-control-next,
  .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: rgb(170, 148, 160);
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
}
